.leaflet-container {
    width: 100%;
    height: 35vmax;
}
  
.map-container {
    height: 60vmin;
    width: 66vmax;    
}

.map-container-ext {
    height: 60vmin;
    width: 86vmax;    
}

.btn-marker {
    background-color: #ea9a64;
    height: 30px;
    width: 50px;
    color: white;
    font-size: 15spx;
}